/* CUSTOM PROPERTIES */
:root {
    --header-height: 80px;
    --blu-color: rgb(0 132 253);
    --lightblu-color: rgb(181 221 255);
    --bg-color: rgb(151 146 228);
    --demo-card: rgb(90 110 127);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

/* BODY */
body {
    font-family: 'PT Sans', sans-serif;
}

/* COMMON */
.container {
    width: 85%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    padding: .5em 1em;
    border-radius: 2em;
    display: block;
}

.text-center {
    text-align: center;
}

/* HEADER */
header {
    height: var(--header-height);
    background-color: var(--blu-color);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.header-section {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.header-nav {
    display: none;
    font-size: 1.2rem;
}

.nav-link {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
}

.nav-link .btn {
    color: black;
    background-color: white;
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 1100px;
    }

    .header-nav {
        display: block;
    }

    .header-menu {
        display: none;
    }
}

/* MAIN */
main {
    padding-top: calc(var(--header-height) + 3rem);
}

.row {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.col {
    border-radius: 2rem;
}

/* Section download app */
#download-app {
    padding-bottom: 4rem;
    font-weight: 600;
}

#download-app .col {
    background-color: var(--lightblu-color);
    padding: 2rem 2rem 0;
}

#download-app .col h3 {
    color: var(--blu-color);
    font-size: 1.5rem;
}

#download-app .content p {
    padding: 2rem 0;
    color: var(--demo-card);
}

#download-app .btn {
    background-color: var(--blu-color);
    color: white;
    padding: .5em 3em;
    letter-spacing: .3em;
    width: fit-content;
    margin-bottom: 2em;
}

.icon-download {
    color: var(--blu-color);
    font-size: 5rem;
}

@media screen and (min-width: 768px) {
    #download-app .row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #download-app .col {
        width: calc(100% / 3 - (4rem / 3));
    }

    #download-app .col:first-child {
        width: calc(100% - (100% / 3) - (2rem / 3));
    }

    #download-app .content-img {
        width: 75%;
    }
}

@media screen and (min-width: 992px) {
    #download-app .col:first-child {
        display: flex;
    }

    #download-app .col:first-child .content {
        width: 100%;
    }

    #download-app .content-img {
        align-self: end;
    }  
}

/* Planning Section */
#planning {
    background-color: var(--bg-color);
    padding: 4rem 0;
    color: white;
}

#planning .col {
    /* Debug */
    min-height: 500px;
}

#planning .col:last-child {
    background-color: white;
    color: black;
    text-align: center;
}

@media screen and (min-width: 992px) {
    #planning .row {
        flex-direction: row;
        justify-content: space-between;
    }

    #planning .col {
        width: calc(95% / 2);
    }
}

/* Testimonials Section */
#testimonials {
    padding: 4rem 0;
    text-align: center;
}

#testimonials .col {
    background-color: var(--bg-color);
    /* Debug */
    min-height: 200px;
}

#testimonials .col:first-child {
    background-color: white;
}

/* Benefits Section */
#benefits {
    background-color: var(--bg-color);
    padding: 3rem 0;
    text-align: center;
}

#benefits .col {
    background-color: white;
    /* Debug */
    min-height: 300px;
}

@media screen and (min-width: 768px) {
    #benefits .row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #benefits .col {
        width: calc(100% / 2 - 1rem);
    }
}

@media screen and (min-width: 992px) {
    #benefits .col {
        width: calc(100% / 3 - (4rem /3));
    }
}

/* About us section */
#about-us {
    padding: 4rem 0;
}

@media screen and (min-width: 768px) {
    #about-us .row {
        flex-direction: row;
    }

    #about-us .col:last-child {
        width: 75%;
    }
}

/* Get started section */
#get-started {
    background-color: var(--bg-color);
    padding: 3rem 0;
    text-align: center;
    /* Debug */
    min-height: 500px;
}

/* FOOTER */
footer {
    padding: 3rem 0;
    background-color: black;
    text-align: center;
    color: white;
}