/* CUSTOM PROPERTIES */
:root {
    --header-height: 80px;
    --blu-color: rgb(0 132 253);
    --lightblu-color: rgb(181 221 255);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* BODY */
body {
    font-family: 'PT Sans', sans-serif;
}

/* COMMON */
.container {
    width: 85%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
    height: var(--header-height);
    background-color: var(--blu-color);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

header section {
    height: var(--header-height);
}

.header-nav {
    display: none;
}

.nav-link {
    list-style-type: none;
    gap: 1rem;
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 1100px;
    }

    .header-nav {
        display: block;
    }

    .header-menu {
        display: none;
    }
}

/* MAIN */
main {
    padding-top: calc(var(--header-height) + 3rem);
}

.row {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Section download app */
#download-app .col {
    background-color: var(--lightblu-color);
    /* Debug */
    min-height: 300px;
}