/* CUSTOM PROPERTIES */
:root {
    --header-height: 80px;
    --blu-color: rgb(0 132 253);
    --lightblu-color: rgb(181 221 255);
    --bg-color:rgb(151 146 228);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* BODY */
body {
    font-family: 'PT Sans', sans-serif;
}

/* COMMON */
.container {
    width: 85%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
    height: var(--header-height);
    background-color: var(--blu-color);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.header-section {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: none;
}

.nav-link {
    list-style-type: none;
    gap: 1rem;
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 1100px;
    }

    .header-nav {
        display: block;
    }

    .header-menu {
        display: none;
    }
}

/* MAIN */
main {
    padding-top: calc(var(--header-height) + 3rem);
}

.row {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Section download app */
#download-app {
    padding-bottom: 4rem;
}

#download-app .col {
    background-color: var(--lightblu-color);
    /* Debug */
    min-height: 300px;
}

@media screen and (min-width: 768px) {
    #download-app .row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #download-app .col {
        width: calc(100% / 3 - (4rem / 3));
    }

    #download-app .col:first-child {
        width: calc(100% - (100% / 3) - (2rem / 3));
    }
    
}

/* Planning Section */
#planning {
    background-color: var(--bg-color);
    padding: 4rem 0;
    color: white;
}

#planning .col {
    /* Debug */
    min-height: 500px;
}

#planning .col:last-child {
    background-color: white;
    color: black;
    text-align: center;
}

@media screen and (min-width: 992px) {
    #planning .row {
        flex-direction: row;
        justify-content: space-between;
    }

    #planning .col {
        width: calc(95% / 2);
    }  
}

/* Testimonials Section */
#testimonials {
    padding: 4rem 0;
    text-align: center;
}

#testimonials .col {
    background-color: var(--bg-color);
    /* Debug */
    min-height: 200px;
}

#testimonials .col:first-child {
    background-color: white;
}